ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: #880033;
	text-decoration: none;
	font-size: 18px;
}
body{
	background-color:#B1B4B5;
	background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj_pdjbvvXlAhVSRK0KHUNkAeUQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fwhite-paper-texture-seamless-background-geometric-vector-18219206&psig=AOvVaw1jGC8nWN-7troqDk11KADs&ust=1574225926672334);
	font-family: "Times New Roman", Helvetica, sans-serif;
	font-size: 20px;
	color: #333334;
}
h1 {
	color: Maroon;
	font-size: 45px;
}